.alert {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30%;
  height: 5vh;
  line-height: 5vh;
  background-color: red;
  color: $body-color;
  display: flex;
  justify-content: space-between; 
}